[submodule "external/imgui/imgui"]
	path = external/imgui/imgui
	url = https://github.com/pthom/imgui.git
	branch = imgui_bundle
[submodule "external/glfw/glfw"]
	path = external/glfw/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "external/hello_imgui/hello_imgui"]
	path = external/hello_imgui/hello_imgui
	url = https://github.com/pthom/hello_imgui.git
	branch = master
[submodule "external/ImFileDialog/ImFileDialog"]
	path = external/ImFileDialog/ImFileDialog
	url = https://github.com/pthom/ImFileDialog.git
	branch = imgui_bundle
[submodule "external/imgui-knobs/imgui-knobs"]
	path = external/imgui-knobs/imgui-knobs
	url = https://github.com/pthom/imgui-knobs.git
	branch = imgui_bundle
[submodule "external/imgui-node-editor/imgui-node-editor"]
	path = external/imgui-node-editor/imgui-node-editor
	url = https://github.com/pthom/imgui-node-editor.git
	branch = imgui_bundle
[submodule "external/imgui_md/imgui_md"]
	path = external/imgui_md/imgui_md
	url = https://github.com/pthom/imgui_md.git
	branch = imgui_bundle
[submodule "external/imgui_tex_inspect/imgui_tex_inspect"]
	path = external/imgui_tex_inspect/imgui_tex_inspect
	url = https://github.com/pthom/imgui_tex_inspect.git
	branch = imgui_bundle
[submodule "external/imgui_toggle/imgui_toggle"]
	path = external/imgui_toggle/imgui_toggle
	url = https://github.com/pthom/imgui_toggle.git
	branch = imgui_bundle
[submodule "external/imgui_md/md4c"]
	path = external/imgui_md/md4c
	url = https://github.com/mity/md4c
	branch = master
[submodule "external/ImGuiColorTextEdit/ImGuiColorTextEdit"]
	path = external/ImGuiColorTextEdit/ImGuiColorTextEdit
	url = https://github.com/pthom/ImGuiColorTextEdit.git
	branch = imgui_bundle
[submodule "external/ImGuizmo/ImGuizmo"]
	path = external/ImGuizmo/ImGuizmo
	url = https://github.com/pthom/ImGuizmo.git
	branch = imgui_bundle
[submodule "external/immvision/immvision"]
	path = external/immvision/immvision
	url = https://github.com/pthom/immvision.git
	branch = master
[submodule "external/immvision/cvnp"]
	path = external/immvision/cvnp
	url = https://github.com/pthom/cvnp.git
	branch = master
[submodule "external/implot/implot"]
	path = external/implot/implot
	url = https://github.com/pthom/implot.git
	branch = master
[submodule "external/imgui-command-palette/imgui-command-palette"]
	path = external/imgui-command-palette/imgui-command-palette
	url = https://github.com/pthom/imgui-command-palette.git
	branch = imgui_bundle
[submodule "external/imgui_test_engine/imgui_test_engine"]
	path = external/imgui_test_engine/imgui_test_engine
	url = https://github.com/pthom/imgui_test_engine.git
[submodule "external/ImCoolBar/ImCoolBar"]
	path = external/ImCoolBar/ImCoolBar
	url = https://github.com/pthom/ImCoolBar.git
[submodule "_example_integration"]
	path = _example_integration
	url = https://github.com/pthom/imgui_bundle_template.git
[submodule "external/nanovg/nanovg"]
	path = external/nanovg/nanovg
	url = https://github.com/pthom/nanovg.git
[submodule "external/nanovg/MetalNanoVG"]
	path = external/nanovg/MetalNanoVG
	url = https://github.com/ollix/MetalNanoVG.git
