[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/hello_imgui"]
	path = external/hello_imgui
	url = https://github.com/pthom/hello_imgui.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lg_cmake_utils"]
	path = lg_cmake_utils
	url = https://github.com/pthom/lg_cmake_utils.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
