name: "CppLib"


on:
  workflow_dispatch:
  pull_request:
  push:

env:
  MACOSX_DEPLOYMENT_TARGET: "11.0"

jobs:
  build:
    name: CppLib
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup interactive tmate session
      uses: mxschmitt/action-tmate@v3
      with:
        detached: true

    - name: apt install xorg-dev  libglfw3-dev libsdl2-dev (ubuntu only)
      if: ${{ matrix.platform == 'ubuntu-latest' }}
      run: sudo apt-get update && sudo apt-get install -y xorg-dev  libglfw3-dev libsdl2-dev

    - name: Build and install
      shell: bash
      run: |
        mkdir build
        cd build
        cmake .. -DHELLOIMGUI_USE_GLFW3=ON -DHELLOIMGUI_USE_SDL2=ON  -DHELLOIMGUI_HAS_OPENGL3=ON -DCMAKE_BUILD_TYPE=Release -DHELLOIMGUI_DOWNLOAD_FREETYPE_IF_NEEDED=ON -DIMMVISION_FETCH_OPENCV=ON -DIMGUI_BUNDLE_WITH_IMMVISION=ON
        cmake --build . --config Release -j 3
