name: "Pip"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - main

env:
  MACOSX_DEPLOYMENT_TARGET: "10.15"

jobs:
  build:
    name: Build with Pip
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-latest]
        python-version: ["3.7", "3.10", "pypy-3.8"]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

#    - name: Setup interactive tmate session
#      uses: mxschmitt/action-tmate@v3

#    - name: install libxrandr-dev on ubuntu
#      if: github.platform_name == 'ubuntu-latest'
#      run: sudo apt-get update && sudo apt-get install -y libxrandr-dev

    - name: install xorg-dev on ubuntu
      run: ./ci_scripts/install_requirements.sh

    - name: Build and install
      run: pip install --verbose .[test]

    - name: Test
      run: pytest
